
<%- include('./nav/navbar') -%>

<div class="container">
    <div class="row my-5">
        <div class="col-lg-12">
            <% if  (message) { %>
              <div class="alert bg-success text-white alert-dismissible fade show alert-<%= message.type %>" role="alert">
               <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close">
      
               </button>
               <strong><%= message.message %></strong>
              </div>
            <% } %>
        <div class="col-lg-12">
            <div class="table-responsive">
                <% if (user != '') { %>

                    <table class="table table-striped text-center">
     
                        <thead>
                            <tr class="table-primary">
                                <th>ID</th>
                                <th>IMAGE</th>
                                <th>NAME</th>
                                <th>EMAIL</th>
                                <th>PHONE NUMBER</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                           <% user.forEach( (row, index) =>{ %>
                            <tr>
                                <td><%= index %></td>
                                <td>
                                    <img src="<%= row.image %>" width="50" class="img-thumbnail" alt="I" srcset="">
                                </td>
                                <td><%= row.name %></td>
                                <td><%= row.email %></td>
                                <td><%= row.phone %></td>
                                <td>
                                    <a href="/edit/<%= row._id %>"class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                                    <a href="/delete/<%= row._id %>"class="text-danger" ><i class="fas fa-trash fa-lg mx-1"></i></a>
                                </td>
                                
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                <% } else{ %>
                <h1 class="text-center text-secondary mt-5"> No user found in the database!</h1>
                    <% } %>
            </div>
        </div>
    </div>
</div>


    <%- include('./nav/footer') -%>